.profilepicture {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.profileContainer {
    margin: 20px;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .profileContainer {
        flex-direction: column-reverse;
    }
}